backports.tarfile==1.2.0
flask==3.0.3
importlib-metadata==8.0.0
importlib-resources==6.4.0
ipykernel==6.29.4
jaraco.text==3.12.1
matplotlib==3.8.4
nltk==3.8.1
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
openpyxl==3.1.5
pandas==2.2.2
pinecone-client==5.0.1
pip-chill==1.0.3
pycryptodome==3.20.0
pypdf2==3.0.1
pyside6==6.7.2
python-dotenv==1.0.1
scikit-learn==1.4.2
tomli==2.0.1
xgboost==2.0.3
yt-dlp==2024.7.9
